extends layout
block content
    h1= title
    if(toShow==null)
        h2 no instance found
    else
        - let biscuit = toShow._id
        - let Name = toShow.Name
        - let FlavourType = toShow.FlavourType
        - let Price = toShow.Price
        div.row(class='mb-2')
            div.mr-1 ID is
            div #{biscuit}
            - let actionid = "/resource/biscuit/" + biscuit
            form(id='biscuitForm', action= actionid, method="PUT")
                div.form-group
                    label.biscuitAttr(for='Name') Name
                    input#Name(type='text', name='Name', value= Name )
                div.form-group
                    label.biscuitAttr(for='FlavourType') FlavourType
                    input#FlavourType(type='text', name='FlavourType', value= FlavourType )
                div.form-group
                    label.biscuitAttr(for='Price') Price
                    input#Price(type='number', name='Price', value= Price )
                input(type="submit")
                script.
                    document.forms['biscuitForm'].addEventListener('submit', (event) => {
                        event.preventDefault();
                        
                        fetch(event.target.action, {
                            method: 'PUT',
                            body: new URLSearchParams(new FormData(event.target)) // event.target is the form
                        }).then((resp) => {
                            return resp.json(); // or resp.text() or whatever the server sends
                        }).then((body) => {
                            alert("Update succeeded")
                            // TODO handle body
                        }).catch((error) => {
                            // TODO handle error
                            alert("Update failed: Invalid Credentials" + error )
                        });
                    });
